In [96]:
import pandas as pd

In [97]:
#DATA TRIMESTRAL
#Colombia
col_querie = pd.read_excel('Colombia/colombia_queries.xlsx',header=9)
col_catego = pd.read_excel('Colombia/colombia_categories.xlsx',header=9)

#Ecuador
ecu_querie = pd.read_excel('Ecuador/ecuador_queries.xlsx',header=9)
ecu_catego = pd.read_excel('Ecuador/ecuador_categories.xlsx',header=9)

#Peru
per_querie = pd.read_excel('Peru/peru_queries.xlsx',header=9)
per_catego = pd.read_excel('Peru/peru_categories.xlsx',header=9)

In [131]:
#FUNCIONES

def estructura_querie(df_querie, df_catego):

    df_catego = df_catego.sort_values('weeks',ascending=False)    

    df = pd.concat([df_querie,df_catego])

    df.reset_index(inplace=True)
    df.drop(index=2,columns='index',inplace=True)
    df.set_index('weeks',inplace=True)

    for i in range(len(df.columns)):
        df.loc['Tasa Xenofobia',df.columns[i]] = (df.loc[df.index[1], df.columns[i]])/(df.loc[df.index[0], df.columns[i]])
    
    df_t = df.T
    df_t.reset_index(inplace=True)
    df_t['index'] = pd.to_datetime(df_t['index'])
    
    df_t['Mes'] = df_t['index'].dt.month
    df_t['A単o'] = df_t['index'].dt.year

    df_t.columns.name = None
    df_t = df_t.rename(columns={'index':'Fecha',df_t.columns[1]:'Volumen Total'})
    df_t = df_t[['Fecha','Mes','A単o','Volumen Total', 'Xenofobia', 'Tasa Xenofobia', ]] 

    return df_t

In [132]:
#INDICADOR PAIS
colombia = estructura_querie(col_querie,col_catego)
ecuador = estructura_querie(ecu_querie,ecu_catego)
peru = estructura_querie(per_querie,per_catego)

                 Fecha  Mes   A単o  Volumen Total  Xenofobia  Tasa Xenofobia
0  2022-12-26 05:00:00   12  2022          759.0      210.0        0.276680
1  2023-01-02 05:00:00    1  2023         6865.0     1460.0        0.212673
2  2023-01-09 05:00:00    1  2023         9636.0     1573.0        0.163242
3  2023-01-16 05:00:00    1  2023         6484.0     1238.0        0.190932
4  2023-01-23 05:00:00    1  2023         8995.0      701.0        0.077932
5  2023-01-30 05:00:00    1  2023         7250.0     1002.0        0.138207
6  2023-02-06 05:00:00    2  2023         7676.0     1018.0        0.132621
7  2023-02-13 05:00:00    2  2023         9964.0     1254.0        0.125853
8  2023-02-20 05:00:00    2  2023         9104.0      979.0        0.107535
9  2023-02-27 05:00:00    2  2023         8031.0     1165.0        0.145063
10 2023-03-06 05:00:00    3  2023         7846.0     1474.0        0.187866
11 2023-03-13 05:00:00    3  2023         8280.0     1811.0        0.218720
12 2023-03-20 05:00:00    3  2023         9982.0      909.0        0.091064
13 2023-03-27 05:00:00    3  2023        16897.0     2192.0        0.129727
14 2023-04-03 05:00:00    4  2023         8358.0      881.0        0.105408
15 2023-04-10 05:00:00    4  2023         7229.0      968.0        0.133905
16 2023-04-17 05:00:00    4  2023         8312.0      776.0        0.093359
17 2023-04-24 05:00:00    4  2023        12650.0     1155.0        0.091304
18 2023-05-01 05:00:00    5  2023         7779.0     1030.0        0.132408
19 2023-05-08 05:00:00    5  2023         7481.0      829.0        0.110814
20 2023-05-15 05:00:00    5  2023         6220.0      675.0        0.108521
21 2023-05-22 05:00:00    5  2023         5439.0      691.0        0.127045
22 2023-05-29 05:00:00    5  2023         7622.0      924.0        0.121228
23 2023-06-05 05:00:00    6  2023         8327.0      908.0        0.109043
24 2023-06-12 05:00:00    6  2023         6181.0      711.0        0.115030
25 2023-06-19 05:00:00    6  2023         9313.0      903.0        0.096961
26 2023-06-26 05:00:00    6  2023         8362.0     2372.0        0.283664

In [135]:
#EXPORTAR
with pd.ExcelWriter('Tasa Xenofobia-2023.xlsx') as writer:
    
    colombia.to_excel(writer,sheet_name='Colombia')
    ecuador.to_excel(writer,sheet_name='Ecuador')
    peru.to_excel(writer,sheet_name='Peru')